.policy-page {
  /* Set background properties */
  background-image: url("../../utils/Images/bg/solutions-bg.jpeg"); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  /* Other styles like background position, repeat, etc., can be added as needed */
}
