.aai-price-pack-name {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
  color: var(--white);
  margin-bottom: 10px;
}
.aai-price-pack-desc {
  font-size: var(--text-lg);
  line-height: 28px;
  color: var(--interface-3);
}
.aai-price-table {
  border-radius: 12px;
  border: 1px solid var(--white);
  padding: 16px 24px;
  transition: all 0.4s ease-in-out;
}
.aai-price-table.has-bg {
  background-color: #0e1327;
}
.aai-price-table:hover {
  background-color: #0e1327;
  border-color: var(--interface-4);
}
.aai-price-lists {
  display: grid;
  gap: 8px;
}
.aai-price-list-item {
  gap: 12px;
}
.aai-price-list-item-text {
  color: var(--interface-3);
}
.aai-price {
  font-size: 34px;
  font-weight: var(--font-bold);
  line-height: 56px;
  color: var(--white);
}
